/* Global */

:root {
  /* Color */

  --color-white: #ffffff;

  --color-dark-white: #bdbdbd;

  --color-black: #000000;

  /* Font size */

  --font-large: 90px;

  --font-medium: 40px;

  --font-regular: 30px;

  --font-small: 20px;

  --font-micro: 16px;

  /* Font weight */

  --weight-bold: 700;

  --weight-semi-bold: 600;

  --weight-regular: 400;
}

/* Universal tag */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
  margin: 0;
}

header {
  max-width: 1400px;
  margin: auto;
}

main {
  max-width: 1400px;
  margin: 50px auto;
  text-align: center;
}

section {
  padding: 50px 100px;
}

footer {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

p {
  margin: 0;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0 0 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

h4 {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

span {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-black);
}

hr {
  border: none;
  border-top: 2px solid #e73587;
  margin: 0 auto 25px auto;
  width: 10%;
}
