/* Service */

#service {
  position: relative;
}

#service::before {
  position: absolute;
  background-color: #020e35;
  top: 50%;
  right: 0%;
  height: 51%;
  width: 100%;
  content: "";
  z-index: -1;
}

.service__article {
  display: flex;
  justify-content: space-between;
}

.service__item {
  width: 370px;
  padding: 25px;
}

.service__item:first-child {
  background-color: #fdf8e3;
}

.service__item:nth-child(2) {
  background-color: #f0f3fa;
}

.service__item:last-child {
  background-color: #feeff0;
}

.service__item img {
  height: 250px;
}

button.service {
  width: 140px;
  height: 40px;
  color: var(--color-white);
  background-image: linear-gradient(to right, #e0358f, #8c32f0);
}
